<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block title %}
            Portfolio
        {% endblock %}

        {% block stylesheets %}

            <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

            <link href="{{ asset('bundles/webshome/css/landing-page.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('bundles/webshome/vendor/font-awesome/css/font-awesome.min.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('bundles/webshome/vendor/bootstrap/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
            <link rel="stylesheet" href="{{ asset('bundles/webshome/vendor/bootstrap/css/jquery.mCustomScrollbar.css') }}" type="text/css" />

        {% endblock %}

    </head>

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#home">{{ 'HOME'|trans }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about">{{ 'ABOUT'|trans }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#services">{{ 'SERVICES'|trans }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#works">{{ 'WORKS'|trans }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">{{ 'CONTACT'|trans }}</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav mr-0">
                        <li class="nav-item">
                            <a href="{{ path('ez_portfolio_homepage', {'_locale': 'fr'}) }}" class="nav-link"><img class="mt-1" src="{{ asset('bundles/webshome/img/fr16.png') }}"></a>
                        </li>
                        <li class="nav-item mr-0">
                            <a href="{{ path('ez_portfolio_homepage', {'_locale': 'en'}) }}" class="nav-link"><img class="mt-1" src="{{ asset('bundles/webshome/img/gb16.png') }}"></a>
                        </li>
                        <li class="nav-item mr-5">
                            <a href="" class="nav-link"><img class="mt-1" src="{{ asset('bundles/webshome/img/lock.png') }}"></a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>

        {% block body %}

        {% endblock %}

        {% block javascripts %}

            <!-- Script -->
            <script src="{{ asset('bundles/webshome/vendor/jquery/jquery.min.js') }}"></script>
            <script src="{{ asset('bundles/webshome/vendor/popper/popper.min.js') }}"></script>
            <script src="{{ asset('bundles/webshome/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('bundles/webshome/js/particle.js') }}"></script>
            <script src="{{ asset('bundles/webshome/js/skillanim.js') }}"></script>
            <script src="{{ asset('bundles/webshome/js/main.js') }}"></script>
            <script src="{{ asset('bundles/webshome/js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
            <script src="{{ asset('bundles/webshome/js/txtRotate.js') }}"></script>

        {% endblock %}

    </body>

</html>