{% extends "::template.html.twig" %}

{% block body %}
    <!-- Header -->
    <header id="home" class="intro-header">
        <div id="particles"></div>
        <div class="container">
            <div class="intro-message">
                <h1>Elie Laloum ,</h1>
                <h3><span class="txt-rotate" data-period="2000" data-rotate='[ "{{ 'I am a developer.'|trans }}", "{{ 'I am a WebDesigner.'|trans }}", "{{ 'Welcome!.'|trans }}" ]'></span></h3>
                <hr class="intro-divider">
                <div class="container">
                    <div class="row justify-content-center intro-button">
                        <div class="col-lg-4">
                            <a href="#contact" class="btn btn-secondary btn-lg">
                                <span class="network-name">{{ 'HIRE ME'|trans }}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center intro-button">
                <div class="mouse mt-auto mb-2 text-center">
                   <img src="{{ asset('bundles/webshome/img/mouse.gif') }}" style="height: 100px; width: 100px;">
                </div>
            </div>
        </div>
    </header>

    {% block ezhome_body %}

    {% endblock %}


{% endblock %}