{% block body %}

    {% block title %}
       Portfolio
    {% endblock %}


    {% block stylesheets %}


        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
        <link href="{{ asset('bundles/webshome/vendor/font-awesome/css/font-awesome.min.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('bundles/webshome/vendor/bootstrap/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />

    {% endblock %}

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav mr-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('ez_portfolio_homepage') }}"><span class="fa fa-arrow-left fa-2x"></span></a>
                        </li>
                    </ul>
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#about"><span class="fa fa-download fa-2x"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    {% block ezportfolio_body %}

    {% endblock %}

    {% block javascripts %}

        <script src="{{ asset('bundles/webshome/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/webshome/vendor/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/webshome/vendor/popper/popper.min.js') }}"></script>

    {% endblock %}

{% endblock %}