{% extends "EZPortfolioBundle::Layout/layout.html.twig" %}

{% block title %}

    <title>
    Home - {{ parent() }}
    </title>

{% endblock %}

{% block ezhome_body %}

    <!-- Page Content -->
    <section id="about" class="content-section-a">

        <div class="container">
            <div class="row">

                <div class="col-lg-5 mr-auto overlayrepere">
                    <img style="height: 90%" class="img-about img-fluid mb-0 mt-auto" src="{{ asset('bundles/webshome/img/default_avatar.jpg') }}">
                    <div class="overlay">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <a href="#" class="fa fa-facebook-square fa-3x"></a>
                                <a href="#" class="fa fa-twitter-square fa-3x ml-1"></a>
                                <a href="#" class="fa fa-linkedin-square fa-3x ml-1"></a>
                                <a href="#" class="fa fa-github-square fa-3x ml-1"></a>
                                <a href="#" class="fa fa-google-plus-square  fa-3x ml-1"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="smallScreenSpace col-lg-5 ml-auto">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ 'ABOUT ME'|trans }}</h2>
                    <p class="lead">{{ 'Graduate from the A-Level STI2D option SIN and Senior technician patent Computer services to the organizations, I am currently doing a Licence Analyst & Computer Engineering.'|trans }}<br><br>
                        {{ 'Passionate about computer science and technology in general I am fascinated by the understanding of the different systems around us.'|trans }}<br><br>
                        {{ 'Ambitious and motivated, I am actively looking for an alternative training that will allow me to deploy my skills and talents within a professional infrastructure.'|trans }}</p>
                </div>
            </div>
        </div>

    </section>

    <section class="content-section-c">

        <div id="skills" class="container-fluid">

            <div class="row justify-content-center">

                <div class="col-lg-6 section-skills align-self-center">

                    <div class="container">

                        <div class="row justify-content-center">

                            <div class="col-lg-9">

                                <h2>{{ 'MY SKILLS'|trans }}</h2><br>
                                <h4>{{ 'SERIOUS SKILLS BUT KEEP LEARNING'|trans }}</h4>
                                <p>{{ 'In 3 years of learning I acquired a lot of knowledge that already allows me to meet the expectations of a project.'|trans }}</p>

                                <a href="#works" class="networklink">
                                    <span class="network-name">{{ 'SEE MY WORKS'|trans }}</span>
                                </a>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="col-lg-1"></div>

                <div class="col-lg-4 mr-auto order-lg-2 justify-content-center align-self-center">

                    <div class="container skillcontainer">
                        <p class="lead skilltext">{{ 'WEB DEV'|trans }}</p>
                        <div class="skillbar clearfix " data-percent="90%">
                            <div class="skillbar-bar"></div>
                            <div class="skill-bar-percent">90%</div>
                        </div>
                    </div>
                    <div class="container skillcontainer">
                        <p class="lead skilltext">{{ 'WEBDESIGN'|trans }}</p>
                        <div class="skillbar clearfix " data-percent="70%">
                            <div class="skillbar-bar"></div>
                            <div class="skill-bar-percent">70%</div>
                        </div>
                    </div>
                    <div class="container skillcontainer">
                        <p class="lead skilltext">{{ 'SOFTWARE DEV'|trans }}</p>
                        <div class="skillbar clearfix " data-percent="60%">
                            <div class="skillbar-bar"></div>
                            <div class="skill-bar-percent">60%</div>
                        </div>
                    </div>
                    <div class="container skillcontainer">
                        <p class="lead skilltext">{{ 'APP DEV'|trans }}</p>
                        <div class="skillbar clearfix " data-percent="50%">
                            <div class="skillbar-bar"></div>
                            <div class="skill-bar-percent">50%</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section id="services" class="content-section-a text-center">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">

                    <h2>{{ 'SERVICES I OFFER'|trans }}</h2>

                    <div class="row service-row justify-content-center">

                        <div class="col-lg-3 col-sm-6 col-md-6 col-xs-6 mt-4">

                                <div id="st1" class="service-thumb">

                                    <i class="fa fa-wordpress fa-4x"></i>

                                    <h3>CMS</h3>
                                    <p class="lead">{{ 'For a project that can be modularized and stylised with fast handling.'|trans }}</p>
                                </div>

                        </div>

                        <div class="col-lg-3 col-sm-6 col-md-6 col-xs-6 mt-4">

                                <div id="st2" class="service-thumb">

                                    <i class="faicon fa fa-paint-brush  fa-4x"></i>

                                    <h3>WEBDESIGN</h3>
                                    <p class="lead">{{ 'Template styliser according to specifications.'|trans }}</p>
                                </div>

                        </div>

                        <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12 mt-4">

                                <div id="st3" class="service-thumb">

                                    <i class="fa fa-code fa-4x"></i>

                                    <h3>{{ 'DEVELOPEMENT'|trans }}</h3>
                                    <p class="lead">{{ 'Heavy client development, mobile app or web service.'|trans }}</p>
                                </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>

    <section id="works" class="content-section-b text-center">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">

                    <h2>{{ 'MY WORKS'|trans }}</h2>
                    <br>

                    <div class="row justify-content-center">

                        <div class="col-lg-12">
                            <button class="tagBtn" onclick="showTag('personal'); hideTag('school'); hideTag('professional')">{{ 'Personal'|trans }}</button>
                            <button class="tagBtn" onclick="showTag('school'); hideTag('personal'); hideTag('professional')">{{ 'School'|trans }}</button>
                            <button class="tagBtn" onclick="showTag('professional'); hideTag('personal'); hideTag('school')">{{ 'Professional'|trans }}</button>
                        </div>

                        <div style="" class="col-lg-8 mt-5 personal">

                            <div class="row">

                                <div class="col-lg-3 col-md-4 col-xs-4 col-sm-4 portfolioThumb">
                                    <a href="{{ path('ez_portfolio_portfolio', {'src': 'scplateform'}) }}" class="d-block mb-4 h-100">
                                        <img class="img-fluid img-thumbnail imgThumb" src="http://placehold.it/400x300" alt="">
                                        <h5 class="mt-4 col-lg-12">SC Plateform</h5>
                                        <p class="col-lg-12">{{ 'No describe for now.'|trans }}</p>
                                    </a>
                                </div>

                                <div class="col-lg-3 col-md-4 col-xs-4 col-sm-4 portfolioThumb">
                                    <a href="{{ path('ez_portfolio_portfolio', {'src': 'customlocalhost'}) }}" class="d-block mb-4 h-100">
                                        <img class="img-fluid img-thumbnail imgThumb" src="http://placehold.it/400x300" alt="">
                                        <h5 class="mt-4 col-lg-12">{{ 'Custom localhost'|trans }}</h5>
                                        <p class="col-lg-12">{{ 'HTML/CSS/JS System for custom localhost ( listing projects , custom links ).'|trans }}</p>
                                    </a>
                                </div>

                            </div>

                        </div>

                        <div style="display: none;" class="col-lg-8 mt-5 professional">

                            <div class="row">

                                <div class="col-lg-3 col-md-4 col-xs-4 col-sm-4 portfolioThumb">
                                    <a href="{{ path('ez_portfolio_portfolio', {'src': 'guesswhat'}) }}" class="d-block mb-4 h-100">
                                        <img class="img-fluid img-thumbnail imgThumb" src="http://placehold.it/400x300" alt="">
                                        <h5 class="mt-4 col-lg-12">GuessWhat</h5>
                                        <p class="col-lg-12">{{ 'Development of a mobile comparator in HTML/CSS/PHP.'|trans }}</p>
                                    </a>
                                </div>

                                <div class="col-lg-3 col-md-4 col-xs-4 col-sm-4 portfolioThumb">
                                    <a href="{{ path('ez_portfolio_portfolio', {'src': 'igaboho'}) }}" class="d-block mb-4 h-100">
                                        <img class="img-fluid img-thumbnail imgThumb" src="{#{{ asset('bundles/webshome/img/projects/igaboho.svg') }}#}http://placehold.it/400x300" alt="">
                                        <h5 class="mt-4 col-lg-12">Iga Boho Chic</h5>
                                        <p class="col-lg-12">{{ 'Showcase site for an infrastructure of jewelry sales and seasonal clothing.'|trans }}</p>
                                    </a>
                                </div>

                            </div>

                        </div>

                        <div style="display: none;" class="col-lg-8 mt-5 school">

                            <div class="row">

                                <div class="col-lg-3 col-md-4 col-xs-4 col-sm-4 portfolioThumb">
                                    <a href="{{ path('ez_portfolio_portfolio', {'src': 'ppe1'}) }}" class="d-block mb-4 h-100">
                                        <img class="img-fluid img-thumbnail imgThumb" src="http://placehold.it/400x300" alt="">
                                        <h5 class="mt-4 col-lg-12">PPE 1</h5>
                                        <p class="col-lg-12">{{ 'Diploma Validation Project.'|trans }}</p>
                                        <p class="col-lg-12">{{ 'Web client for customers of a car rental company.'|trans }}</p>
                                    </a>
                                </div>

                                <div class="col-lg-3 col-md-4 col-xs-4 col-sm-4 portfolioThumb">
                                    <a href="{{ path('ez_portfolio_portfolio', {'src': 'ppe2'}) }}" class="d-block mb-4 h-100">
                                        <img class="img-fluid img-thumbnail imgThumb" src="http://placehold.it/400x300" alt="">
                                        <h5 class="mt-4 col-lg-12">PPE 2</h5>
                                        <p class="col-lg-12">{{ 'Diploma Validation Project.'|trans }}</p>
                                        <p class="col -lg-12">{{ 'Heavy client for the management of the car rental company database.'|trans }}</p>
                                    </a>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>

    <section id="experiences" class="content-section-a text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <h2>{{ 'MY EXPERIENCE'|trans }}</h2>

                    <div class="row">

                        <div class="frame col-lg-12">

                            <!-- SMALL SCREEN -->

                            <div class="row justify-content-center ExpSmall">
                                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 mt-5">
                                    <div class="row">
                                        <div class="col-4 logopart">
                                            <i class="mt-4 fa fa-code fa-3x" aria-hidden="true"></i>
                                        </div>
                                        <div class="descpart col-8 text-left">
                                            <ul class="mt-1">
                                                <li>GUESSWHAT</li>
                                                <li>2017</li>
                                            </ul>
                                            <p>Mauris balqnuet lorem ipsus dolores minum aerum tanges.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 mt-3">
                                    <p>text experience 2</p>
                                </div>
                                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 mt-3">
                                    <p>text experience 3</p>
                                </div>
                                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 mt-3">
                                    <p>text experience 4</p>
                                </div>
                                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 mt-3">
                                    <p>text experience 5</p>
                                </div>
                                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 mt-3">
                                    <p>text experience 6</p>
                                </div>
                            </div>

                            <!-- COMPUTER SCREEN -->

                            <div class="row mt-5">

                                <div class="col-lg-12 text-center">

                                    <div class="row">
                                        <div class="col-lg-6 text-left">
                                            <h3>{{ 'Professional'|trans }}</h3>
                                        </div>
                                        <div class="col-lg-6 text-right">
                                            <h3>{{ 'Training'|trans }}</h3>
                                        </div>
                                    </div>

                                    <div class="row mt-4">

                                        <div class="leftexp col-lg-6 mt-3" style="border-left: 4px solid grey">

                                            <div class="row">
                                                <div class="year col-lg-2 mr-0 ml-auto pr-0 pl-auto">
                                                    <p class="pt-auto pb-0" style="font-size: 12px;">2017</p>
                                                    <hr style="border-bottom: 1px dotted grey">
                                                </div>
                                                <div class="thumbexp col-lg-9 pr-0" style="border: 1px solid grey; height: 150px; border-radius: 10px;">

                                                    <div class="row">

                                                        <div class="col-lg-3">
                                                            <i class="fa fa-briefcase fa-2x mt-4" aria-hidden="true"></i>
                                                            <p class="mt-4">{{ 'WORK'|trans }}</p>
                                                        </div>

                                                        <div class="col-lg-8 text-right" style="border-left: 1px solid grey; height:149px;">
                                                            <h4 class="mt-4">BNP PARIBAS</h4>
                                                            <p class="mt-2" style="font-size: 14px;">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
                                                        </div>

                                                    </div>

                                                </div>

                                                <div class="col"></div>

                                            </div>

                                            <div class="row mt-4">
                                                <div class="year col-lg-2 mr-0 ml-auto pr-0 pl-auto">
                                                    <p class="pt-auto pb-0" style="font-size: 12px;">2017</p>
                                                    <hr style="border-bottom: 1px dotted grey">
                                                </div>
                                                <div class="thumbexp col-lg-9 pr-0" style="border: 1px solid grey; height: 150px; border-radius: 10px;">

                                                    <div class="row">

                                                        <div class="col-lg-3">
                                                            <i class="fa fa-briefcase fa-2x mt-4" aria-hidden="true"></i>
                                                            <p class="mt-4">{{ 'TRAINEE'|trans }}</p>
                                                        </div>

                                                        <div class="col-lg-8 text-right" style="border-left: 1px solid grey; height:149px;">
                                                            <h4 class="mt-4">GUESSWHAT</h4>
                                                            <p class="mt-2" style="font-size: 14px;">{{ 'Mobile suscription comparator.'|trans }}
                                                            <br>{{ 'Integration to another website.'|trans }}</p>
                                                        </div>

                                                    </div>

                                                </div>

                                                <div class="col"></div>

                                            </div>

                                            <div class="row mt-4">
                                                <div class="year col-lg-2 mr-0 ml-auto pr-0 pl-auto">
                                                    <p class="pt-auto pb-0" style="font-size: 12px;">2016</p>
                                                    <hr style="border-bottom: 1px dotted grey">
                                                </div>
                                                <div class="thumbexp col-lg-9 pr-0" style="border: 1px solid grey; height: 150px; border-radius: 10px;">

                                                    <div class="row">

                                                        <div class="col-lg-3">
                                                            <i class="fa fa-briefcase fa-2x mt-4" aria-hidden="true"></i>
                                                            <p class="mt-4">{{ 'PROJECT'|trans }}</p>
                                                        </div>

                                                        <div class="col-lg-8 text-right" style="border-left: 1px solid grey; height:149px;">
                                                            <h4 class="mt-4">PPE</h4>
                                                            <p class="mt-2" style="font-size: 14px;">{{ 'Web service dev for rent car company.'|trans }}
                                                            <br>{{ 'Heavy client to manage db.'|trans }}
                                                            <br>{{ 'Mobile app for clients.'|trans }}</p>
                                                        </div>

                                                    </div>

                                                </div>

                                                <div class="col"></div>

                                            </div>

                                            <div class="row mt-4">
                                                <div class="year col-lg-2 mr-0 ml-auto pr-0 pl-auto">
                                                    <p class="pt-auto pb-0" style="font-size: 12px;">2016</p>
                                                    <hr style="border-bottom: 1px dotted grey">
                                                </div>
                                                <div class="thumbexp col-lg-9 pr-0" style="border: 1px solid grey; height: 150px; border-radius: 10px;">

                                                    <div class="row">

                                                        <div class="col-lg-3">
                                                            <i class="fa fa-briefcase fa-2x mt-4" aria-hidden="true"></i>
                                                            <p class="mt-4">{{ 'TRAINEE'|trans }}</p>
                                                        </div>

                                                        <div class="col-lg-8 text-right" style="border-left: 1px solid grey; height:149px;">
                                                            <h4 class="mt-4">TECHNISITES</h4>
                                                            <p class="mt-2" style="font-size: 14px;">{{ 'Development of a web service for the verification of the state of printers of the computer park.'|trans }}
                                                            <br>HTML/CSS - PHP/SNMP</p>
                                                        </div>

                                                    </div>

                                                </div>

                                                <div class="col"></div>

                                            </div>

                                        </div>

                                        <div class="rightexp col-lg-6 mt-3" style="border-right: 4px solid grey; max-height: 500px;">

                                            <div class="row">
                                                <div class="col"></div>
                                                <div class="thumbexp col-lg-9 " style="border: 1px solid grey; height: 150px; border-radius: 10px;">

                                                    <div class="row">

                                                        <div class="col"></div>

                                                        <div class="col-lg-8 text-left" style="border-right: 1px solid grey; height:149px;">
                                                            <h4 class="mt-4">CFA INSTA</h4>
                                                            <p class="mt-2" style="font-size: 14px;">{{ 'Analyst & Computer Engineering, Development.'|trans }}</p>
                                                        </div>

                                                        <div class="col-lg-3">
                                                            <i class="fa fa-graduation-cap fa-2x mt-4" aria-hidden="true"></i>
                                                            <p class="mt-4">{{ 'BACHELOR'|trans }}</p>
                                                        </div>

                                                    </div>

                                                </div>

                                                <div class="year col-lg-2 mr-0 ml-auto pl-0 pr-auto">
                                                    <p class="pt-auto pb-0" style="font-size: 12px;">2018</p>
                                                    <hr>
                                                </div>

                                            </div>

                                            <div class="row mt-4">
                                                <div class="col"></div>
                                                <div class="thumbexp col-lg-9 " style="border: 1px solid grey; height: 150px; border-radius: 10px;">

                                                    <div class="row">

                                                        <div class="col"></div>

                                                        <div class="col-lg-8 text-left" style="border-right: 1px solid grey; height:149px;">
                                                            <h4 class="mt-4">CFA INSTA</h4>
                                                            <p class="mt-2" style="font-size: 14px;">{{ 'IT Service to Organizations.'|trans }}
                                                             <br>{{ 'Software solutions and business applications.'|trans }}</p>
                                                        </div>

                                                        <div class="col-lg-3">
                                                            <i class="fa fa-graduation-cap fa-2x mt-4" aria-hidden="true"></i>
                                                            <p class="mt-4">{{ '12th GR'|trans }}</p>
                                                        </div>

                                                    </div>

                                                </div>

                                                <div class="year col-lg-2 mr-0 ml-auto pl-0 pr-auto">
                                                    <p class="pt-auto pb-0" style="font-size: 12px;">2017</p>
                                                    <hr>
                                                </div>

                                            </div>

                                            <div class="row mt-4">
                                                <div class="col"></div>
                                                <div class="thumbexp col-lg-9 " style="border: 1px solid grey; height: 150px; border-radius: 10px;">

                                                    <div class="row">

                                                        <div class="col"></div>

                                                        <div class="col-lg-8 text-left" style="border-right: 1px solid grey; height:149px;">
                                                            <h4 class="mt-4">JEAN PERRIN</h4>
                                                            <p class="mt-2" style="font-size: 14px;">{{ 'Science and Technology for Industry and Sustainable Development.'|trans }}
                                                            <br>{{ 'Option Science Industrial & Digital.'|trans }}</p>
                                                        </div>

                                                        <div class="col-lg-3">
                                                            <i class="fa fa-graduation-cap fa-2x mt-4" aria-hidden="true"></i>
                                                            <p class="mt-4">{{ 'A-LVL'|trans }}</p>
                                                        </div>

                                                    </div>

                                                </div>

                                                <div class="year col-lg-2 mr-0 ml-auto pl-0 pr-auto">
                                                    <p class="pt-auto pb-0" style="font-size: 12px;">2014</p>
                                                    <hr>
                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </div>
    </section>

    <section id="contact" class="content-section-c text-center">

        <div class="container-fluid">

            <div class="row">

                <div class="col-lg-12 section-contact">
                    <h2 class="mt-5">{{ 'CONTACT ME'|trans }}</h2>
                    <p>{{ 'Do not hesitate to contact me if you have any request'|trans }}</p>

                    <div class="row mb-5">

                        <div class="col-lg-9 mt-5">
                            <div class="row justify-content-center">
                                <div class="col-lg-8 text-left">
                                    <h5><strong>{{ 'Post a message'|trans }}</strong></h5>
                                    <form>
                                        <div class="form-group">
                                            <div class="mt-4 justify-content-center">
                                                <input type="email" class="emailInput mt-2 col-lg-7 col-10 form-control" id="exampleFormControlInput1" placeholder="{{ 'Name@example.com'|trans }}">
                                                <input type="object" class="objectInput mt-2 col-lg-7 col-10 form-control" id="exampleInputEmail1" placeholder="{{ 'Enter subject'|trans }}">
                                                <input type="tel" class="telInput mt-2 col-lg-7 col-10 form-control" id="exampleInputTel" placeholder="{{ 'Cellphone number'|trans }}">
                                                <textarea class="mt-2 messageInput form-control col-lg-11" placeholder="Message" id="exampleFormControlTextarea1" rows="5"></textarea>
                                                <button type="button" class="mt-2 btn btn-lg col-lg-12 col-12" style="background-color: white; color: gray;">{{ 'Send Message'|trans }}</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <hr class="defdivider">

                        <div class="infoContact col-lg-2 mt-5 text-left mb-5" style="">
                            <h5><strong>{{ 'Contact information'|trans }}</strong></h5>
                            <p class="mt-4 mb-2"><strong>{{ '+33633495607'|trans }}</strong></p>
                            <p class="mb-2"><strong>PRO@ELIELALOUM.FR</strong></p>
                            <p class="mb-2"><strong>PERSO@ELIELALOUM.FR</strong></p>
                            <p class="mb-5"><strong>PARIS</strong></p>
                        </div>

                        <div class="col-lg-1"></div>

                    </div>

                </div>

            </div>

        </div>

    </section>

    <section id="mapSection" class="content-section-c">

        <style>
            #map {
                height: 400px;
                width: 100%;
            }
        </style>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 pl-0 pr-0">
                    <div id="map">
                        test
                    </div>
                </div>
            </div>
        </div>

        <script>

            function initMap() {
                var Paris = {lat:48.857708, lng: 2.351865};

                var map = new google.maps.Map(document.getElementById('map'), {
                    center: Paris,
                    zoom: 8,
                    styles: [
                        {
                            "featureType": "all",
                            "elementType": "geometry.fill",
                            "stylers": [
                                {
                                    "weight": "2.00"
                                }
                            ]
                        },
                        {
                            "featureType": "all",
                            "elementType": "geometry.stroke",
                            "stylers": [
                                {
                                    "color": "#9c9c9c"
                                }
                            ]
                        },
                        {
                            "featureType": "all",
                            "elementType": "labels.text",
                            "stylers": [
                                {
                                    "visibility": "on"
                                }
                            ]
                        },
                        {
                            "featureType": "landscape",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "color": "#f2f2f2"
                                }
                            ]
                        },
                        {
                            "featureType": "landscape",
                            "elementType": "geometry.fill",
                            "stylers": [
                                {
                                    "color": "#ffffff"
                                }
                            ]
                        },
                        {
                            "featureType": "landscape.man_made",
                            "elementType": "geometry.fill",
                            "stylers": [
                                {
                                    "color": "#ffffff"
                                }
                            ]
                        },
                        {
                            "featureType": "poi",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "road",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "saturation": -100
                                },
                                {
                                    "lightness": 45
                                }
                            ]
                        },
                        {
                            "featureType": "road",
                            "elementType": "geometry.fill",
                            "stylers": [
                                {
                                    "color": "#eeeeee"
                                }
                            ]
                        },
                        {
                            "featureType": "road",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#7b7b7b"
                                }
                            ]
                        },
                        {
                            "featureType": "road",
                            "elementType": "labels.text.stroke",
                            "stylers": [
                                {
                                    "color": "#ffffff"
                                }
                            ]
                        },
                        {
                            "featureType": "road.highway",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "visibility": "simplified"
                                }
                            ]
                        },
                        {
                            "featureType": "road.arterial",
                            "elementType": "labels.icon",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "transit",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "water",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "color": "#46bcec"
                                },
                                {
                                    "visibility": "on"
                                }
                            ]
                        },
                        {
                            "featureType": "water",
                            "elementType": "geometry.fill",
                            "stylers": [
                                {
                                    "color": "#c8d7d4"
                                }
                            ]
                        },
                        {
                            "featureType": "water",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#070707"
                                }
                            ]
                        },
                        {
                            "featureType": "water",
                            "elementType": "labels.text.stroke",
                            "stylers": [
                                {
                                    "color": "#ffffff"
                                }
                            ]
                        }
                    ]
                });

                var marker = new google.maps.Marker({
                    position: Paris,
                    map: map,
                    title: 'Hello World!'
                });
            }
        </script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClhvCnLGjzJ_tD4tjT5c7Sn1DlBPOpQKQ&callback=initMap"></script>

    </section>

    <!-- Footer -->
    <footer>
        <div class="container">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="#">{{ 'Home'|trans }}</a>
                </li>
                <li class="footer-menu-divider list-inline-item">&sdot;</li>
                <li class="list-inline-item">
                    <a href="#about">{{ 'About'|trans }}</a>
                </li>
                <li class="footer-menu-divider list-inline-item">&sdot;</li>
                <li class="list-inline-item">
                    <a href="#services">{{ 'Services'|trans }}</a>
                </li>
                <li class="footer-menu-divider list-inline-item">&sdot;</li>
                <li class="list-inline-item">
                    <a href="#services">{{ 'Works'|trans }}</a>
                </li>
                <li class="footer-menu-divider list-inline-item">&sdot;</li>
                <li class="list-inline-item">
                    <a href="#contact">{{ 'Contact'|trans }}</a>
                </li>
                <li class="footer-menu-divider list-inline-item">&sdot;</li>
                <li class="list-inline-item">
                    <a href="#">Back-Office</a>
                </li>
            </ul>
            <p class="copyright text-muted small">Copyright &copy; Elie Laloum 2017. All Rights Reserved</p>
        </div>
    </footer>




{% endblock %}