{% extends "EZPortfolioBundle::Layout/portfolio_layout.html.twig" %}

{% block title %}

    <title>
        {{ name }} - {{ parent() }}
    </title>

{% endblock %}



{% block ezportfolio_body %}

    <iframe src="{{ src }}" style="width: 100%; height: 100vh;"></iframe>

{% endblock %}
