/*!
 * Start Bootstrap - Landing Page (http://startbootstrap.com/template-overviews/landing-page)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-landing-page/blob/master/LICENSE)
 */
#particles {
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 100%;
  opacity: 0.5;
}

.overlayrepere {

}

.overlayrepere>img {

}

.overlayrepere .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:#ffffff;
  background-color:rgba(0, 0, 0, 0.4);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.overlayrepere .overlay a {
  color: white;
}


.overlayrepere .overlay a:hover {
  text-decoration: none;
  text-underline: none;
}

.overlayrepere:hover .overlay {
  height: 48px;
}

.intro-button>div>a{
  margin-top: 5px;
  background: transparent;
  color: white;
  border: 1px solid white;
  width: 100%;
}

.img-about{
  display: none;
}

.section-skills {
  background-image: url('../img/skill-bgback.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left;
  color: black;
  height: 500px;
}

.section-skills>.container>.row>.col-lg-9>h2 {
  margin-top: 25%;
}

.section-skills>.container>.row>.col-lg-9>p {

}

.section-skills>.container>.row>.col-lg-9>button {
  background: transparent;
  border: 1px black solid;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 25%;
}

.skillcontainer {
  margin-top: 10%;
  margin-bottom: 10%;
}

.skillbar {
  position:relative;
  display:block;
  margin-bottom:15px;
  width:100%;
  background:#eee;
  height:5px;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  -webkit-transition:0.4s linear;
  -moz-transition:0.4s linear;
  -ms-transition:0.4s linear;
  -o-transition:0.4s linear;
  transition:0.4s linear;
  -webkit-transition-property:width, background-color;
  -moz-transition-property:width, background-color;
  -ms-transition-property:width, background-color;
  -o-transition-property:width, background-color;
  transition-property:width, background-color;
}

.skillbar-bar {
  height:5px;
  width:0px;
  background:grey;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}

.skill-bar-percent {
  position:absolute;
  right:10px;
  top:0;
  font-size:11px;
  height:5px;
  line-height:35px;
}

.skilltext {
font-size: 14px;
}

/* SMALL SCREEN */

#services {
  min-height: 500px;
}

#services h2 {

}

.service-row {
  margin-top: 3%;
}

.service-link {
  color: black;
  text-decoration: none;
}

.service-link:hover {
  text-decoration: none;
  color: grey;
}

.service-thumb-div {

}

.service-thumb {
  height: 106%;
  background: white;
  display: none;
}

.service-thumb i {
  margin-top: 15%;
}

.service-thumb h3 {
  margin-top: 10%;
  color: black !important;
}

.service-thumb p {
  margin-top: 5%;
  padding-left: 5px;
  padding-right: 5px;
  color: black !important;
}

.service-thumb p {
  margin-top: 5%;
  padding-left: 5px;
  padding-right: 5px;
}

.service-thumb:hover {
  -moz-box-shadow: 0 0 9px #ccc;
  -webkit-box-shadow: 0 0 9px #ccc;
  box-shadow: 0 0 9px #ccc;
  transition-property: all;
  transition-duration: .5s; /* on aurait pu écrire 500ms également */
  transition-timing-function: ease-in;
  transition-delay: 2ms;
  color: grey;
}

#experiences {

}

#experiences .scrollX {
  width: 900px;
  overflow-x: scroll;
}

.ExpSmall {
  display: none !important;
}

.thumb {
  border: 1px solid lightgray;
}

.lpart {

}

.rpart {

}

.left-experience {
  margin-top: 50px;
  border-right: 2px solid grey;
  height: auto;
  float: right;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 980px) {
  .left-experience {
    float: none !important;
    border-right: none;
  }
  
  .right-experience {
    float: none !important;
    border-left: none !important;
  }
}

/* SMALL SCREEN */

.expthumb-left {

}

.expthumb-left h3{
  margin-top: 20px;
  font-size: 18px;
}

.expthumb-left p{
  font-size: 14px !important;
}

.right-experience {
  margin-top: 50px;
  border-left: 2px solid grey;
  height: auto;
}

/* SMALL SCREEN */

.expthumb-right {

}

.expthumb-right h3{
  margin-top: 20px;
  font-size: 18px;
}

.expthumb-right p{
  font-size: 14px !important;
}


/* SMALL SCREEN */

.exp {

}

.expalt {
  margin-top: 50px;
}

.expthumb-left {
  height: 100px;
  right: -100px;
  background-color: white;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 980px) {
  .expthumb-left {
    right: auto !important;
  }
}

.expthumb-left:hover {
  -moz-box-shadow: 0 0 6px #ccc;
  -webkit-box-shadow: 0 0 6px #ccc;
  box-shadow: 0 0 6px #ccc;
  transition-property: all;
  transition-duration: .5s; /* on aurait pu écrire 500ms également */
  transition-timing-function: ease-in;
  transition-delay: 2ms;
}

.expthumb-right {
  height: 100px;
  left: -100px;
  background-color: white;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 980px) {
  .expthumb-right {
    left: auto !important;
  }
}

.expthumb-right:hover {
  -moz-box-shadow: 0 0 6px #ccc;
  -webkit-box-shadow: 0 0 6px #ccc;
  box-shadow: 0 0 6px #ccc;
  transition-property: all;
  transition-duration: .5s; /* on aurait pu écrire 500ms également */
  transition-timing-function: ease-in;
  transition-delay: 2ms;
}

#works {
  min-height: 500px;
  height: auto;
}

#work .personal {

}

#work .professional {
  display: none;
}

#work .school {
  display: none;
}

#works .tagBtn {
  background-color: transparent;
  height: 50px;
  border: none;
  text-decoration: none;
  text-underline: none;
}

#works .tagBtn:active {
  text-decoration: none;
}

#works .tagBtn:hover {
  text-decoration: none;
}

.imgThumb:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

#works .portfolioThumb {
  text-align: left;
}

#works .portfolioThumb h5 {
  float: left;
  font-size: 16px;
  color: black;
}

#works .portfolioThumb p {
  float: left;
  font-size:12px;
  color: black;
}

.row-contact {

}

.section-contact {
  background-image: url('../img/contact-bg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  color: black;
  height: 100%;
}

.row-contact-content {
  margin-top: 50px;
}

#contact {
  height: auto;
}

#contact .frame {
 background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}

.infoContact {
  border-radius: 10px;
  max-height: 170px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 980px) {
  .defdivider {
    display: block !important;
  }
}


body, html {
  width: 100%;
  height: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.intro-header {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
  background: url(../img/intro-bg.jpg) no-repeat center center;
  background-size: cover;
}

.intro-message {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
}

.intro-message>h1 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  font-size: 5em;
}

.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.divider {
  width: 600px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.defdivider {
  width: 80%;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  display: none;
}

.intro-message>h3 {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.intro-social-buttons i {
  font-size: 80%;
}

@media(max-width:767px) {
  .intro-message {
    padding-bottom: 15%;
  }
  .intro-message>h1 {
    font-size: 3em;
  }
  ul.intro-social-buttons>li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.intro-social-buttons>li:last-child {
    margin-bottom: 0;
  }

  .intro-divider {
    width: 100%;
  }

  .divider {
    width: 100%;
  }

  .defdivider {
    width: 100%;
  }
}

.networklink {
  text-underline: none;
  text-decoration: none;
  color: grey;
}

.networklink:hover {
  text-underline: none;
  text-decoration: none;
}

.network-name {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}

.content-section-a {
  padding: 50px 0;
  background-color: #f8f8f8;
}

.content-section-b {
  padding: 50px 0;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}
.content-section-c {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.section-heading {
  margin-bottom: 30px;
}

.section-heading-spacer {
  float: left;
  width: 200px;
  border-top: 3px solid #e7e7e7;
}

.banner {
  padding: 100px 0;
  color: #f8f8f8;
  background: url(../img/banner-bg.jpg) no-repeat center center;
  background-size: cover;
}

.banner h2 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  font-size: 3em;
}

.banner ul {
  margin-bottom: 0;
}

.banner-social-buttons {
  float: right;
  margin-top: 0;
}

@media(max-width:1199px) {
  ul.banner-social-buttons {
    float: left;
    margin-top: 15px;
  }
}

@media(max-width:767px) {
  .banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 3em;
  }
  ul.banner-social-buttons>li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons>li:last-child {
    margin-bottom: 0;
  }
}

footer {
  padding: 50px 0;
  background-color: #f8f8f8;
}

p.copyright {
  margin: 15px 0 0;
}
